.content{
    margin: auto;
    
	background: white;
	clear: both;
    width: 60%;
    border:3px solid blueviolet;
    padding: 20px;

    
}
p{ 
line-height: 2em; 
display:block;
margin-left:auto;
margin-right:auto;
font-family:Verdana, Geneva, Tahoma, sans-serif;
}
